{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="about-section">
        <h1 class="display-4">About Us Page</h1>
        <p class="lead">
                We are a leading shop for mobile phones. We specialize in:
        </p>
        <ul>
                <li>Phone repairs</li>
                <li>Phone covers</li>
                <li>New phones</li>
                <li>Fast charging cables</li>
        </ul>
</div>

<h2 class="text-center">Our Team</h2>
<div class="row">
        <div class="col-md-4">
                <div class="card">
                        <img src="https://images.unsplash.com/photo-1576613109753-27804de2cba8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvbmUlMjByZXBhaXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="Brian" class="card-img-top">
                        <div class="card-body">
                                <h2 class="card-title">Brian Otachi</h2>
                                <p class="card-subtitle title">CEO & Founder</p>
                                <p class="card-text">An upcoming phone software and hardware enthusiast</p>
                                <p class="card-text">brianotachi@gmail.com</p>
                                <a href="mailto:brianotachi@gmail.com" class="btn btn-primary">Contact</a>
                        </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="card">
                        <img src="https://images.unsplash.com/photo-1609087039984-8b13e8a3e658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHBob25lcyUyMGJlaW5nJTIwcmVwYWlyZWR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="Magoma" class="card-img-top">
                        <div class="card-body">
                                <h2 class="card-title">Caleb Magoma</h2>
                                <p class="card-subtitle title">Art Director</p>
                                <p class="card-text">Analyzes the best software for different phones and is in charge of
                                        specifications</p>
                                <p class="card-text">calebmagoma@students.uonbi.ac.ke</p>
                                <a href="mailto:calebmagoma@students.uonbi.ac.ke" class="btn btn-primary">Contact</a>
                        </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="card">
                        <img src="https://images.unsplash.com/photo-1566728595333-75a1d7cae961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGhvbmUlMjByZXBhaXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="amcoolalphonce" class="card-img-top">
                        <div class="card-body">
                                <h2 class="card-title">Alphonce Omondi</h2>
                                <p class="card-subtitle title">Software Designer</p>
                                <p class="card-text">Hands-on practical solutions to meet your desired phone needs</p>
                                <p class="card-text">amcoolalphonce@gmail.com</p>
                                <a href="mailto:amcoolalphonce@gmail.com" class="btn btn-primary">Contact</a>
                        </div>
                </div>
        </div>
</div>
{% endblock content %}