{% extends 'store/base.html' %}
{% block title %}
<title>Services</title>
{%  endblock title %}

{% block content %}

<h2 class="text-center">Services Page</h2>

<!-- Featured Product Section -->
<div class="container mt-4">
        <div class="row">
                <div class="col-md-4 mb-4">
                        <div class="card">
                                <img src="https://images.pexels.com/photos/6751555/pexels-photo-6751555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Featured Product">
                                <div class="card-body">
                                        <h5 class="card-title">Brand New Phones Sale</h5>
                                        <p class="card-text">Get the latest brand new phones ranging from the smart tech Samsung, Vivo, IPhone, Nokia</p>
                                        <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                        </div>
                </div>
                <!-- Add more to the left-->
                <div class="col-md-4 mb-4">
                        <div class="card">
                                <img src="https://images.pexels.com/photos/4195332/pexels-photo-4195332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        class="card-img-top" alt="Featured Product">
                                <div class="card-body">
                                        <h5 class="card-title">Charging Ports </h5>
                                        <p class="card-text">We repair and change faulty charging ports both for  Android and IPhones</p>
                                        <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4 mb-4">
                        <div class="card">
                                <img src="https://images.pexels.com/photos/6755066/pexels-photo-6755066.jpeg?auto=compress&cs=tinysrgb&w=600"
                                        class="card-img-top" alt="Featured Product">
                                <div class="card-body">
                                        <h5 class="card-title">Phone Repairs</h5>
                                        <p class="card-text">We repair broken screens, speakers, charging ports, fix buttons and do maintenance</p>
                                        <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                        </div>
                </div>


        </div>
</div>

<h3 class="text-center">Available phones</h3>
<!-- Product List Section -->
<div class="container mt-4">
        <!--IPHONES-->
        <div class="row">
                <div class="col-md-4 mb-4">
                        <div class="card">
                                <img src="https://shop.belong.com.au/cdn/shop/files/removal.ai__tmp-64a2306d1c556_0OSCKW_1445x.png?v=1688350868">
                                <div class="card-body">
                                        <h5 class="card-title">IPhone 13 PRO</h5>
                                        <p class="card-text">Get the latest IPhone 13 Pro now available at our shop
                                        </p>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                        </div>
                </div>
                <!-- Add more product cards as needed -->
                        <!--VIVO-->
                        <div class="col-md-4 mb-4">
                                <div class="card">
                                        <img src="https://shop.vivoglobal.ph/cdn/shop/products/V29_Magic-Maroon.png?v=1697702927"
                                                class="card-img-top" alt="Product 1">
                                        <div class="card-body">
                                                <h5 class="card-title">Vivo </h5>
                                                <p class="card-text">All Vivo Series Y and V are available
                                                </p>
                                                <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                </div>
                        </div>
                                <!-- SAMSUNG-->
                                <div class="col-md-4 mb-4">
                                        <div class="card">
                                                <img src="https://www.phoneshopkenya.co.ke/wp-content/uploads/2021/02/Samsung-Galaxy-Note-20-Ultra-a.jpg"
                                                        class="card-img-top" alt="Product 1">
                                                <div class="card-body">
                                                        <h5 class="card-title">Samsung</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        </p>
                                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                                </div>
                                        </div>
                                </div>
        </div>
</div>

<!-- Bootstrap JS and Popper.js -->


{% endblock content %}