:root {
        --darkgray: #000;
        --brightred: #F9423D;
        --white: #fff;
        --lightred: #f9433dcc;
        --background-color: #8f948bc5;
}
body{
        background-color: var(--background-color);
        margin: 0;
}
* {
        font-family: 'Nunito', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
.nav-container {
        width: 100%;
        background-color: var(--darkgray);
        z-index: 1000;
}

.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 20px;
}

#navbar-logo {
        color: var(--white);
        cursor: pointer;
}

.nav-menu {
        display: flex;
        list-style: none;
}

.nav-links {
        color: var(--white);
        text-decoration: none;
        padding: 10px;
}

.nav-links:hover {
        color: var(--brightred);
        transition: all 0.2s ease-out;
}

.nav-links-btn {
        background-color: var(--lightred);
        padding: 6px 16px;
        border-radius: 4px;
}

.nav-links-btn:hover {
        background-color: transparent;
        color: var(--white);
        border: solid 1px var(--brightred);
        transition: all 0.3s ease-out;
}
.content{
        top:0 ;
        left: 0;
        width: 100%;
        height: 100vh;
        background-position: center center;
        z-index: -1;
}

.card strong {
        font-size: 22px;
        display: block;
   
}
.card img {
        max-width: 200px;
        height: auto;
        margin-top: 10px;
        border-radius: 45%;
}
.card p {
        margin-top: 10px;
}
.card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
.service_list{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
}